.auth-form {
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0 auto;
	width: 396px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 700px;
	box-sizing: border-box;
}

.auth-form__title {
	padding: 40px 0 20px;
	margin: 0;
	width: 100%;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
}

.auth-form__inputs-container {
	width: 100%;
	margin-bottom: auto;
}

.auth-form__submit-error {
	padding-top: 10px;
	display: block;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #ff3055;
	visibility: hidden;
}
.auth-form__submit-error_active {
	visibility: visible;
}

.auth-form__buttons-container {
	width: 100%;
}

.auth-form__submit-button {
	padding: 13px 126px 15px 124px;
	margin-bottom: 16px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background: #3456f3;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #ffffff;
}
.auth-form__submit-button_inactive {
	color: #000;
	background: transparent;
	border: 1px solid #000;
	opacity: 0.4;
	cursor: initial;
}
.auth-form__submit-button_inactive:hover {
	opacity: 0.4;
}

.auth-form__link-wrapper {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #a0a0a0;
}

.auth-form__link {
	color: #3456f3;
}

@media screen and (max-width: 768px) {
	.auth-form {
		padding-top: 232px;
		padding-bottom: 232px;
		min-height: 1024px;
	}
}
@media screen and (max-width: 456px) {
	.auth-form {
		width: 81%;
		padding-top: 56px;
		padding-bottom: 30px;
		min-height: 780px;
		align-items: center;
	}
	.auth-form__title {
		padding: 50px 0 60px;
		text-align: center;
	}
	.auth-form__submit-button {
		padding: 15px 26%;
		margin-bottom: 14px;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
	}
	.auth-form__link-wrapper {
		font-size: 12px;
		line-height: 15px;
	}
}
